.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
}

.link {
  display: block;
  margin: 40px auto 0;
  text-align: center;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #3d3d3d;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #2a2a2a;
}
